ENABLE_SCRAPING=false
ENABLE_AUTO_PHONE_ENRICHMENT=false
ENRICH_TOP_N=5
ENRICH_CONCURRENCY=3
SCRAPE_TIMEOUT_MS=3000
RATE_LIMIT_PER_MIN=30
DEFAULT_SEARCH_RADIUS_M=20000
SEARCH_PAGE_SIZE=10
SEARCH_CACHE_TTL_MS=600000
SCRAPER_CACHE_TTL_MS=1800000
DEBUG_RUNTIME_LOGS=false
OVERPASS_QUERY_TIMEOUT_S=25
ENABLE_GRID_SEARCH=true
SEARCH_GRID_MAX_CELLS=4
SEARCH_MAX_AREAS=4
FALLBACK_QUERY_LIMIT=60
FALLBACK_MAX_QUERIES=4
SCRAPE_MAX_PAGES=3
